<!DOCTYPE HTML>
<html>
<head>
    <title>Quizlist service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Welcome to Quizlist service!</div>
<div>Now it support only Android application client.</div>
{{!<a href="/main">Start using</a>}}
</body>
</html>