<html>
<body>
<div>=Quizlist service=</div>
<div>
    You login as: {{currentUsername}}, (roles: {{roles}})
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
<div> </div>
<div>You can add new module:</div>
<div>
    <form method="post" action="main">
        <input type="text" name="name" placeholder="Module name:">
        <input type="text" name="info" placeholder="Module info:">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Create module</button>
    </form>
</div>
<div>---</div>
<div>Your modules</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Search</button>
</form>
{{#modules}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{info}}</i>
        <strong>{{authorName}}</strong>
    </div>

{{/modules}}
</body>
</html>